<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header>
      <div class="row">
        <div class="column1">
          <p>TRƯỜNG PTDTNT THCS & THPT NGỌC SƠN</p>
        </div>

        <div class="column2">
          <ul>
            <li>
              <a href="#"> <i class="fas fa-bell icon"></i> Thông báo </a>
            </li>

            <li>
              <a href="#"><i class="fas fa-headset icon"></i> Hỗ trợ </a>
            </li>

            <li>
              <a href="/logout"
              ><i class="fa-solid fa-person-walking-arrow-right"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
