<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Quên Mật Khẩu</title>
  <link rel="stylesheet" href="/css/forgot-password.css">
</head>
<body>
<div class="form-container">
  <h2>Quên mật khẩu</h2>
  <form th:action="@{/forgot-password}" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Nhập Email xác thực" required>

    <button type="submit">Send Email</button>

    <!-- Hiển thị thông báo lỗi -->
    <p th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></p>

    <!-- Hiển thị thông báo thành công -->
    <p th:if="${successMessage}" class="success-message" th:text="${successMessage}"></p>
  </form>
  <div><a th:href="@{/reset-password}">Đặt lại mật khẩu</a></div>
</div>
</body>
</html>
